* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-blue: #272221;
  --border-gray: #8D8686;
  --font-white: #FAFAFA;
  --button-bg-white: #E6E5E5;
  --input-gray-border: #8D8686;
}